<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 offset-lg-4 offset-md-3 offset-sm-3 offset-0">
        <div class="card">
            <h2 class="card-header">Add new Task</h2>
            <div class="card-body">
                <div class="form-group">
                    <label class="col-form-label">Description</label>
                    <input type="text" class="form-control" [(ngModel)]="item.description">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Category</label>
                    <input type="text" class="form-control" [(ngModel)]="item.category">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Status</label>
                    <input type="checkbox" class="form-control" [(ngModel)]="item.status">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Priority</label>
                    <input type="number" class="form-control" [(ngModel)]="item.priority">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Deadline</label>
                    <input type="date" class="form-control" [(ngModel)]="item.deadline">
                </div>
                <div class="form-group">
                    <button class="btn btn-success w-100" (click)="addTodo()" >ADD</button>
                </div>
            </div>
        </div>
    </div>
</div>